{% set group = 'consortium-' + ansible_become_user %}
{% set dir = '/home/' + ansible_become_user + '/go/src/github.com/notconspiracy/consortium-api' %}
[group:{{ group }}]
programs={{ group }}-server,{{ group }}-worker,{{ group }}-pusher{% if setup_scheduler %},{{ group }}-scheduler{% endif %}{% if setup_simulator %},{{ group }}-simulator{% endif %}

[program:{{ group }}-server]
command={{ dir }}/consortium-api
directory={{ dir }}
user={{ ansible_become_user }}
stdout_logfile=/var/log/supervisor/{{ group }}-server.stdout.log
stderr_logfile=/var/log/supervisor/{{ group }}-server.stderr.log

[program:{{ group }}-worker]
command={{ dir }}/consortium-api -worker
directory={{ dir }}
user={{ ansible_become_user }}
stdout_logfile=/var/log/supervisor/{{ group }}-worker.stdout.log
stderr_logfile=/var/log/supervisor/{{ group }}-worker.stderr.log

[program:{{ group }}-pusher]
command={{ dir }}/consortium-api -pusher
directory={{ dir }}
user={{ ansible_become_user }}
stdout_logfile=/var/log/supervisor/{{ group }}-pusher.stdout.log
stderr_logfile=/var/log/supervisor/{{ group }}-pusher.stderr.log

{% if setup_scheduler %}
[program:{{ group }}-scheduler]
command={{ dir }}/consortium-api -scheduler
directory={{ dir }}
user={{ ansible_become_user }}
stdout_logfile=/var/log/supervisor/{{ group }}-scheduler.stdout.log
stderr_logfile=/var/log/supervisor/{{ group }}-scheduler.stderr.log
{% endif %}

{% if setup_simulator %}
[program:{{ group }}-simulator]
command={{ dir }}/consortium-api -simulate 20
directory={{ dir }}
user={{ ansible_become_user }}
stdout_logfile=/var/log/supervisor/{{ group }}-simulator.stdout.log
stderr_logfile=/var/log/supervisor/{{ group }}-simulator.stderr.log
{% endif %}
