<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payout setup</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/font-awesome.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>

    <script src="/assets/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="/assets/jquery.payment.min.js"></script>


    <style type="text/css">
      body { margin-top: 1em; }
      #page_done, #page_country, #page_stripe_tos, #page_stripe_card, #page_stripe_bank, #page_stripe_type, #page_country_not_supported, #page_failed { display: none; }
      #page_external_accounts, #page_profile {display: none;}

      .tether-element,.tether-element *,.tether-element :after,.tether-element :before,.tether-element:after,.tether-element:before{box-sizing:border-box}.tether-element{position:absolute;display:none}.tether-element.tether-open{display:block}

      .fa-padding { padding-top: 0.3em; }

      #page_loader { padding-top: 4em; }
      .centered { margin: 0 auto; float: none; text-align: center; }

      #done_success, #done_disabled, #done_card, #done_bank { display: none; }
    </style>
    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      var baseURL = '//{{ .url }}';
      var apiToken = '{{ .token }}';
      var stripeAccount = null;
      var stripeSettings = null;
      var supportedCountries = ["AT", "AU", "BE", "CA", "DE", "DK", "ES", "FI", "FR", "GB", "IE", "IT", "JP", "LU", "NL", "NO", "SE", "US"];
      var currentCountry = null;

      function setStripeData(data) {
        stripeAccount = data.account;
        currentCountry = data.countryspec;
        stripeSettings = data.stripe;
        Stripe.setPublishableKey(stripeAccount.publish);
      }

      // checks wether there are legal entity fields to be filled out by user
      function stripeNeedsFields() {
        var flds = stripeSettings.verification.fields_needed;
        var cnt = 0;

        console.log(flds);
        for (i = 0; i < flds.length; i ++) {
          var fld = flds[i].split(".")
          if (fld[0] == "legal_entity" && fld[1] != "verification") {
            console.log("stripe fields needed: ", fld);
            cnt ++;
          }
        }

        console.log("stripe fields needed total", cnt);

        return cnt > 0 ? true : false;
      }

      // checkes wether there are external accoutns set up or not
      function stripeNeedsExternalAccounts() {
        if (stripeSettings.external_accounts.total_count == 0) {
          console.log("needs external accounts: yes");
          return true;
        }

        console.log("needs external accounts: nope");
        return false;
      }


      function legalTextField(form, fld, name, ac) {
        form.append(`
          <div class="form-group">
            <label for="">` + name + `</label>
            <input type="text" name="` + fld + `" class="form-control" placeholder="` + name + `" autocomplete="` + ac +`" />
          </div>
          `);
      }
      // <div class="form-group">
      //   <label for="">First name</label>
      //   <input type="text" class="form-control" placeholder="first name" />
      // </div>
      function buildAndShowProfile() {
        var dobShown = false;
        var form = $("#form_profile");
        form.empty();

        var flds = stripeSettings.verification.fields_needed;
        // var flds = currentCountry.verification_fields.individual.minimum;

        console.log(flds);
        for (i = 0; i < flds.length; i ++) {
          if (flds[i].indexOf("legal_entity.") != 0) {
            console.log("skipping field " +flds[i]);
            continue;
          }

          var fld = flds[i].slice("legal_entity.".length);

          switch (fld) {
            case "first_name_kana":
              legalTextField(form, fld, "First name (kana)", "given-name");

            case "first_name_kanji":
              legalTextField(form, fld, "First name (kanji)", "given-name");

            case "first_name":
              legalTextField(form, fld, "First name", "given-name");
              break;

            case "last_name":
              legalTextField(form, fld, "Last name", "family-name");
              break;

            case "address.city":
              legalTextField(form, fld, "City", "address-level2");
              break;

            case "address.line1":
              legalTextField(form, fld, "Line", "address-line1");
              break;

            case "address.postal_code":
              legalTextField(form, fld, "Postal Code", "postal-code");
              break;

            case "address.state":
              legalTextField(form, fld, "State", "address-level1");
              break;

            case "ssn_last_4":
              form.append(`
                <div class="form-group">
                  <label for="profile_ssn_last_4">SSN (last 4)</label>
                  <input type="tel" id="profile_ssn_last_4" name="ssn_last_4" class="form-control" autocomplete="off" placeholder="0000" maxlength=4 />
                </div>
              `);
              break;

            case "personal_id_number":
              form.append(`
                <div class="form-group">
                  <label for="profile_personal_id_number">Personal ID number</label>
                  <input type="tel" id="profile_personal_id_number" name="personal_id_number" class="form-control" autocomplete="off" placeholder="" />
                </div>
              `);
              break;

            case "dob.day":
            case "dob.month":
            case "dob.year":
              if (dobShown == false) {
                dobShown = true;
                form.append(`
                  <div class="form-group">
                    <label for="">Date of birth</label>
                    <input type="date" name="dob" class="form-control" autocomplete="bday" />
                  </div>
                `);
              }
              break;

            case "type":
              form.append(`
                <input type="hidden" name="type" value="individual" />
                `);
              break;

            default:
              console.log("unhandled " + fld);
              break;
          }
        }

        goto("profile");
      }

      var currentPage = 'loader';
      function goto(value) {
        console.log("goto #page_" + currentPage + " -> #page_" + value);
        $("#page_" + currentPage).hide();
        $("#page_" + value).show();
        currentPage = value;

        $("html, body").scrollTop(0);
      }

      function showDone() {
        $("#done_card").hide();
        $("#done_disabled").hide();
        $("#done_success").hide();
        $("#done_bank").hide();

        var enabled = stripeSettings.transfers_enabled

        if (enabled === false) {
          var reason = $("#done_disabled").find(".disabled_reason");
          var due = $("#done_disabled").find(".disabled_due");

          reason.hide();
          reason.empty();
          due.hide();
          due.empty();

          if (stripeSettings.verification.disabled_reason != "") {
            var dr = stripeSettings.verification.disabled_reason;
            var text = "Unknown reason: " + dr;

            switch (dr) {
              case "rejected.fraud":
                text = "Due to suspected fraud or illegal activity."
                break;

              case "rejected.terms_of_service":
                text = "Due to suspected terms of service violations."
                break;

              case "rejected.listed":
                text = "Due to a match on a third party prohibited persons or companies list.";
                break;

              case "rejected.other":
                text = "Due to unknown reason.";
                break;

              case "listed":
                text = "Account might be a match on a prohibited persons or companies list. Stripe will investigate and either reject or reinstate the account appropriately.";
                break;

              case "other":
                text = "Account is not rejected, but disabled due to other reasons.";
                break;
            }
            reason.text(text);
          } else {
            reason.text("Additional data required");
          }
          reason.show();

          var d = stripeSettings.verification.due_by;
          if (d != null && d !== undefined && moment(d).isValid() == true) {
            due.text("You need to update your account details by " + moment(d).format("LL"));
            due.show();
          }

          $("#done_disabled").show();
        } else {
          $("#done_success").show();
        }

        if (enabled && stripeSettings.external_accounts.total_count > 0) {
          var d = stripeSettings.external_accounts.data;

          for(var i = 0; i < d.length; i ++) {
            var o = d[i];

            switch (o.object) {
              case "card":
                $("#done_card").find("#done_card_last4").text(o.Card.last4);
                $("#done_card").find(".transfer_interval").text(stripeSettings.transfer_schedule.interval);
                $("#done_card").show();
                break;
              case "bank_account":
                $("#done_bank").find(".transfer_interval").text(stripeSettings.transfer_schedule.interval);
                $("#done_bank").find("#bank_details").text(o.BankAccount.bank_name + " ****" + o.BankAccount.last4 + " for " + o.BankAccount.account_holder_name + " in " + o.BankAccount.currency);
                $("#done_bank").show();
                break;
              default:
                console.log("object not known", o);
                break;
            }
          }
        }

        goto("done");
      }

      function processStripeUpdate(data) {
        console.log(data);
        if (data.success === true) {
          setStripeData(data);

          if (currentCountry !== undefined) {
            $(".payout-currency").text(currentCountry.default_currency)
          }

          if (stripeNeedsFields() == true) {
            buildAndShowProfile();
          } else if (stripeNeedsExternalAccounts() == true) {
            goto("external_accounts");
          } else {
            showDone();
          }
        } else if (data.success === false && data.error.type === "not_found") {
          goto("country");
        } else {
          goto("failed");
        }
      }

      function initPage() {
        goto("loader");

        $("#done_success").hide();
        $("#done_disabled").hide();
        $("#done_card").hide();
        $("#done_bank").hide();

        $.ajax({
          url: baseURL + "/v1/billing/stripe",
          type: "get",
          headers: { "Authorization": "BEARER " + apiToken },
          dataType: "json",
          success: processStripeUpdate,
          error: function() { goto("failed"); }
        });
      }

      $(document).ready(function() {
        $("#cc_number").payment("formatCardNumber");
        $("#cc_exp").payment("formatCardExpiry");
        $("#cc_cvc").payment("formatCardCVC");

        initPage();

        $("#form_profile_save").click(function() {
          console.log("save form");

          var formData = {};

          $("#form_profile").find("input").each(function(idx, v) {
            var value = $(v).val();
            var name = $(v).attr('name');

            console.log(name, value);

            switch(name) {
              case 'dob':
                var d = moment(value);
                formData["dob"] = {
                  day: d.date(),
                  month: d.month() + 1,
                  year: d.year()
                }
                break;
              default:
                kv = name.split(".");
                if (kv.length == 1) {
                  formData[name] = value;
                } else if (kv.length == 2) {
                  if (formData[kv[0]] === undefined) {
                    formData[kv[0]] = {};
                  }
                  formData[kv[0]][kv[1]] = value;
                }
            }
          });

          console.log(formData);

          goto("loader");
          jQuery.ajax({
            url: baseURL + "/v1/billing/stripe",
            type: "put",
            headers: { "Authorization": "BEARER " + apiToken },
            dataType: "json",
            data: JSON.stringify(formData),
            success: function(data) {
              if (data.success === false && data.error.type === "stripe_error") {
                var err = data.stripe_error;

                $err = $("#page_profile .error")
                var txt = $err.find(".error-text")
                txt.empty();

                txt.text(err.message);

                $err.show();
                goto("profile");
              } else {
                processStripeUpdate(data);
              }
            },
            error: function() { goto("failed"); }
          });
        });

        $(".btn-page").click(function() {
          var to = $(this).data("page");

          goto(to);
        });

        $("#cc_number").keypress(function() {
          var n = $(this).val();
          var type = Stripe.card.cardType(n);

          if (type != "Unknown") {
            switch(type) {
              case "Visa": t = "cc-visa"; break;
              case "MasterCard": t = "cc-mastercard"; break;
              case "American Express": t = "cc-amex"; break;
              case "Discover": t = "cc-discover"; break;
              case "Diners Club": t= "cc-diners-club"; break;
              case "JCB": t = "cc-jcb"; break;
              case "Unknown": t = "credit-card-alt"; break;
            }
            $("#cc-number-type").html("<i class='fa fa-" + t + "'></i>");
          } else {
            $("#cc-number-type").html("<i class='fa fa-credit-card-alt'></i>")
          }
        });

        $("#cc_number").change(function() {
          var n = $(this).val();

          if( !Stripe.card.validateCardNumber(n) ) {
            $("#cc-number-form-group").removeClass("has-success").addClass("has-warning");
          } else {
            $("#cc-number-form-group").removeClass("has-warning").addClass("has-success");
          }
        });

        $("#cc_exp").change(function() {
          var n = $(this).payment('cardExpiryVal');

          if ( !$.payment.validateCardExpiry(n.month, n.year) ) {
            $("#cc-exp-form-group").removeClass("has-success").addClass("has-warning");
          } else {
            $("#cc-exp-form-group").removeClass("has-warning").addClass("has-success");
          }
        });

        $("#cc_cvc").change(function() {
          var n = $(this).val();

          if ( !Stripe.card.validateCVC(n) ) {
            $("#cc-cvc-form-group").removeClass("has-success").addClass("has-warning");
          } else {
            $("#cc-cvc-form-group").removeClass("has-warning").addClass("has-success");
          }
        });


        $(".btn-country").click(function(ev) {
          ev.preventDefault();

          var country = $(this).data('value');
          console.log("country: ", country);

          if (supportedCountries.indexOf(country) >= 0) {
            currentCountry = country;
            goto("stripe_tos");
          } else {
            goto("country_not_supported");
          }
          return false;
        });

        $("#stripe_bank_form").submit(function(ev) {
          ev.preventDefault();

          goto("loader");

          var $form = $("#stripe_bank_form");

          $form.find("button").prop('disabled', true);

          var $err = $form.find(".error");
          $err.find(".error-text").empty();
          $err.hide();

          var opts = {
            country: currentCountry.id,
            currency: currentCountry.default_currency,
            routing_number: $("#bank_routing_number").val(),
            account_number: $("#bank_account_number").val(),
            account_holder_name: $("#bank_account_holder_name").val(),
            account_holder_type: "individual"
          }

          console.log("bank account create token", opts);

          Stripe.bankAccount.createToken(opts, stripeBankResponseHandler);

          return false;
        });

        $("#bank_routing_number").change(function() {
          var r = $(this).val();

          var valid = Stripe.bankAccount.validateRoutingNumber(r, currentCountry.id);

          console.log("routing", r, valid);
          if (valid) {
            $("#bank_routing_number_form_group").addClass("has-success").removeClass("has-warning");
          } else {
            $("#bank_routing_number_form_group").addClass("has-warning").removeClass("has-success");
          }
        });

        $("#bank_account_number").change(function() {
          var a = $(this).val();

          var valid = Stripe.bankAccount.validateAccountNumber(a, currentCountry.id);

          console.log("account", a, valid);
          if (valid) {
            $("#bank_account_number_form_group").addClass("has-success").removeClass("has-warning");
          } else {
            $("#bank_account_number_form_group").addClass("has-warning").removeClass("has-success");
          }
        });

        function stripeBankResponseHandler(status, response) {
          var $form = $("#stripe_bank_form");

          if (response.error) {
            $form.find("button").prop('disabled', false);

            var $err = $form.find(".error");
            $err.find(".error-text").text(response.error.message);
            $err.show();

            goto("stripe_bank");
          } else {

            jQuery.ajax({
              url: baseURL + "/v1/billing/stripe/card",
              type: "post",
              data: JSON.stringify({token: response.id}),
              headers: { "Authorization": "BEARER " + apiToken },
              contentType : 'application/json',
              dataType: "json",
              success: stripeBankAttachedHandler,
              error: function() {
                $form.find("button").prop('disabled', false);
                goto("failed");
              }
            });
          }
        }

        function stripeBankAttachedHandler(data) {
          var $form = $("#stripe_bank_form");

          $form.find("button").prop('disabled', false);

          if (data.success === true) {
            processStripeUpdate(data);
          } else if (data.stripe_error !== undefined){
            $err = $form.find(".error")
            $err.find(".error-text").text(data.stripe_error.message);
            $err.show();

            goto("stripe_bank");
          } else {
            goto("failed");
          }
        }

        $("#stripe_card_form").submit(function(ev) {
          ev.preventDefault();

          goto("loader");
          $("#stripe_card_form button").prop('disabled', true);

          var $err = $("#stripe_card_form .error");
          $err.empty();
          $err.hide();

          Stripe.card.createToken({
            number: $("#cc_number").val(),
            cvc: $("#cc_cvc").val(),
            exp: $("#cc_exp").val(),
            name: $("#cc_name").val(),
            currency: "usd",
            address_zip: $("#cc_address_zip").val()
          }, stripeCardHandler);

          return false;
        });

        function stripeCardHandler(status, response) {
          if (response.error) {
            $("#stripe_card_form button").prop('disabled', false);

            $err = $("#stripe_card_form .error");
            $err.text(response.error.message);
            $err.show();

            goto("stripe_card");
          } else {
            console.log("attaching stripe card token " + response.id + " to account");

            jQuery.ajax({
              url: baseURL + "/v1/billing/stripe/card",
              type: "post",
              data: JSON.stringify({token: response.id}),
              headers: { "Authorization": "BEARER " + apiToken },
              contentType : 'application/json',
              dataType: "json",
              success: stripeCardAttachedHandler,
              error: function() { goto("failed"); }
            });
          }
        }

        function stripeCardAttachedHandler(data) {
          console.log(data);

          $("#stripe_card_form button").prop('disabled', false);

          if (data.success) {
            processStripeUpdate(data);
          } else if (data.stripe_error !== undefined){
            $err = $("#stripe_card_form .error")
            $err.empty();
            $err.show();
            $err.text(data.stripe_error.message);

            goto("stripe_card");
          } else {
            goto("failed");
          }
        }

        $("#action-reload").click(function() {
          initPage();

          return false;
        });

        $("#tos_cancel").click(function() {
          goto("country");

          return false;
        });

        $("#tos_accept").click(function() {
          goto("loader");
          jQuery.ajax({
            url: baseURL + "/v1/billing/stripe",
            type: "post",
            data: JSON.stringify({country: currentCountry}),
            headers: { "Authorization": "BEARER " + apiToken },
            contentType : 'application/json',
            dataType: "json",
            success: processStripeUpdate,
            error: function() { goto("failed"); }
          });

          return false;
        });
      });
    </script>
  </head>
  <body>
    <!--
      1 ask about country
      2 ask about method (cc, bank, //paypal)
      3 save
    -->
    <div class="container-fluid">
      <div class="row" id="page_country_not_supported">
        <div class="col-sm-12">
          <h6>Not supported</h6>
          <br />
          <div class="alert alert-warning">
            <p><small>
              <i class="fa fa-exclamation-triangle"></i>
              We only support a limited set of countries at the moment. Please check back later to see if this list was expanded.
            </small></p>
          </div>

          <br />
          <div class="row">
            <div class="col-xs-6">
              <button type="button" data-page="country" class="btn-page btn btn-lg">Back</button>
            </div>

            <div class="col-sm-6">
              <a href="conspiracy://close" class="btn btn-lg pull-right btn-primary">Close</a>
            </div>
          </div>
        </div>

      </div>

      <div class="row" id="page_failed">
        <div class="col-xs-12 col-sm-12">
          <div class="alert alert-danger">
            <strong>Oops! 😵</strong>
            Something went wrong on our side. Please try again later.
          </div>
        </div>

        <div class="col-xs-12 col-sm-12">
          <button type="button" class="btn btn-info center-block" id="action-reload">
            <i class="fa fa-refresh fa-fw"></i>
            Reload
          </button>
        </div>

      </div>

      <div class="row" id="page_loader">
        <div class="col-sm-12">
          <div class="centered">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw center-block"></i>
            <span class="sr-only">Loading ...</span>
          </div>
        </div>
      </div>

      <div class="row" id="page_profile">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-cog"></i> &nbsp; Setup</li>
            <li class="active">Step 3 of 4</li>
          </ol>
        </div>
        <div class='col-sm-12'>
          <h6>Your profile details</h6>
          <br />

          <div class="alert alert-info">
            <p>
              <small>
                <i class="fa fa-info fa-fw"></i>
                Please fill this out correctly, otherwise we will not be able to pay you out.
              </small>
            </p>
          </div>

          <div class="alert alert-danger error" style="display: none;">
            <p>
              <small>
                <i class="fa fa-exclamation-triangle fa-fw"></i>
                <span class="error-text"></span>
              </small>
            </p>
          </div>
          <form id="form_profile" autocomplete="on">
          </form>

          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-primary pull-right" id="form_profile_save">
                Save
                <i class="fa fa-angle-right fa-fw"></i>
              </button>
            </div>
          </div>

          <br />

        </div>
      </div>

      <div class="row" id="page_done">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li> <i class="fa fa-cog"></i> &nbsp; Payout settings</li>
            <!-- <li class="active">Done</li> -->
          </ol>
        </div>

        <div class="col-sm-12" id="done_success">
          <div class="alert alert-success">
            <p>
              <small>
                <i class="fa fa-thumbs-up fa-fw"></i>
                <strong>Great!</strong>
                Your account is successfuly configured and now you can start receiving payments.
              </small>
            </p>
          </div>
        </div>

        <div class="col-sm-12" id="done_disabled">
          <div class="alert alert-warning">
            <p>
              <small>
                <i class="fa fa-fw fa-ban"></i>
                Transfers currently <strong>disabled</strong>. <span class="disabled_reason"></span>
                <span class="disabled_due"></span>
              </small>
            </p>
          </div>
        </div>

        <div class="col-sm-12" id="done_card">
          <div class="alert alert-info">
            <p>
              <small>
                Payments will be sent <strong><span class="transfer_interval"></span></strong> to <i class="fa fa-credit-card-alt fa-fw"></i> <span id="done_card_last4"></span>
              </small>
            </p>
          </div>
        </div>

        <div class="col-sm-12" id="done_bank">
          <div class="alert alert-info">
            <p>

              <small>
                Payments will be sent <strong><span class="transfer_interval"></span></strong> to <span id="bank_details"></span>
              </small>
            </p>
          </div>
        </div>
      </div>

      <div class="row" id="page_stripe_tos">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li> <i class="fa fa-cog"></i> &nbsp; Setup</li>
            <li class="active">Step 2 of 4</li>
          </ol>
        </div>
        <div class="col-sm-12">
          <h6>Terms of Service</h6>

          <br />
          <p><small>
            Payment processing services for consultants on CONSPIRACY are provided by Stripe and are subject to the Stripe Connected Account Agreement, which includes the Stripe Terms of Service (collectively, the “Stripe Services Agreement”). By agreeing to this agreement or continuing to operate as a consultant on CONSPIRACY, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of CONSPIRACY enabling payment processing services through Stripe, you agree to provide CONSPIRACY accurate and complete information about you and your business, and you authorize CONSPIRACY to share it and transaction information related to your use of the payment processing services provided by Stripe.
          </small></p>
          <p><small><strong>By clicking "Accept" below you agree to <a href="https://notconspiracy.com/tos" target="_blank">Terms of Service</a> and the <a href="https://stripe.com/connect/account-terms" target="_top">Stripe Connected Account Agreement</a>.</strong></small></p>

          <div class="row">
            <div class="col-xs-6">
              <button type="button" class="btn btn-page" data-page="country"><i class="fa fa-angle-left"></i> &nbsp; Back</button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn pull-right btn-primary" id="tos_accept">Accept &nbsp; <i class="fa fa-angle-right "></i></button>
            </div>
          </div>

          <br />

        </div>

      </div>

      <div class="row" id="page_country">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-cog"></i> &nbsp; Setup</li>
            <li class="active">Step 1 of 4</li>
          </ol>
        </div>

        <div class="col-sm-12">
          <p><strong>Choose your country</strong></p>

          <div class="alert alert-info">
            <p><small>
                <i class="fa fa-info fa-fw"></i>
                <strong>The country must be the country where you, the account holder, reside in or where your business is legally established in.</strong>
                For example, if you are in the United States, and the business you’re creating an account for is legally represented in Canada, you would use “Canada” as the country for the account being created.
            </small></p>

          </div>

          <div class="list-group">
            <!--  AT, AU, BE, CA, DE, DK, ES, FI, FR, GB, IE, IT, JP, LU, NL, NO, SE, and US -->
            <button type="button" class="list-group-item btn-country" data-value="AT"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇦🇹 &nbsp; Austria</button>
            <button type="button" class="list-group-item btn-country" data-value="AU"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇦🇺 &nbsp; Australia</button>
            <button type="button" class="list-group-item btn-country" data-value="BE"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇧🇪 &nbsp; Belgium</button>
            <button type="button" class="list-group-item btn-country" data-value="CA"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇨🇦 &nbsp; Canada</button>
            <button type="button" class="list-group-item btn-country" data-value="DK"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇩🇰 &nbsp; Denmark</button>
            <button type="button" class="list-group-item btn-country" data-value="FI"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇫🇮 &nbsp; Finland</button>
            <button type="button" class="list-group-item btn-country" data-value="FR"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇫🇷 &nbsp; France</button>
            <button type="button" class="list-group-item btn-country" data-value="DE"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇩🇪 &nbsp; Germany</button>
            <button type="button" class="list-group-item btn-country" data-value="IE"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇮🇪 &nbsp; Ireland</button>
            <button type="button" class="list-group-item btn-country" data-value="IT"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇮🇹 &nbsp; Italy</button>
            <!-- <button type="button" class="list-group-item btn-country" data-value="JP"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇯🇵 &nbsp; Japan</button> -->
            <button type="button" class="list-group-item btn-country" data-value="LU"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇱🇺 &nbsp; Luxemburg</button>
            <button type="button" class="list-group-item btn-country" data-value="NL"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇳🇱 &nbsp; Netherlands</button>
            <button type="button" class="list-group-item btn-country" data-value="NO"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇳🇴 &nbsp; Norway</button>
            <button type="button" class="list-group-item btn-country" data-value="ES"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇪🇸 &nbsp; Spain</button>
            <button type="button" class="list-group-item btn-country" data-value="SE"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇸🇪 &nbsp; Sweden</button>
            <button type="button" class="list-group-item btn-country" data-value="GB"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇬🇧 &nbsp; United Kingdom</button>
            <button type="button" class="list-group-item btn-country" data-value="US"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🇺🇸 &nbsp; United States</button>
            <button type="button" class="list-group-item btn-country" data-value="Other"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>🌍 &nbsp; Other ...</button>
          </div>

          <br />
        </div>

      </div>

      <div class="row" id="page_external_accounts">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-cog"></i> &nbsp; Setup</li>
            <li class="active">Step 4 of 4</li>
          </ol>
        </div>

        <div class="col-sm-12">
          <h6>How do you prefer to be paid out?</h6>
          <br />
          <div class="list-group">
            <button type="button" class="list-group-item btn-page" data-page="stripe_bank"><i class="fa fa-angle-right fa-pull-right fa-padding"></i><i class="fa fa-fw fa-university"></i> &nbsp; Bank account</button>
            <button type="button" class="list-group-item btn-page" data-page="stripe_card"><i class="fa fa-angle-right fa-pull-right fa-padding"></i><i class="fa fa-fw fa-credit-card-alt"></i> &nbsp; Debit card</button>
          </div>
        </div>
      </div>

      <div class="row" id="page_stripe_card">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-cog"></i> &nbsp; Setup</li>
            <li class="active">Step 4 of 4</li>
          </ol>
        </div>

        <div class="col-sm-12">
          <form id="stripe_card_form" autocomplete="on">
            <h6><i class="fa fa-credit-card-alt" aria-hidden="true"></i> &nbsp; Add debit card</h6>

            <br />

            <div class="alert alert-info">
              <small>
                <i class="fa fa-info fa-fw"></i>
                The debit card you’re about to add will only be used to receive funds.
                All payments will be in <strong class="payout-currency"></strong>.
              </small>
            </div>

            <div class="alert alert-danger error" style="display: none;"></div>

            <div class="form-group" id="cc-name-form-group">
              <label for="cc_name">Name on card</label>
              <input type="text" autocomplete="cc-name" class="form-control" name="name" id="cc_name" placeholder="Card holder's name"/>
            </div>

            <div class="form-group" id="cc-number-form-group">
              <label for="cc_number">Card Number</label>
              <div class="input-group">
                <input type="tel" class="form-control" autocomplete="cc-number" name="cc_number" id="cc_number" placeholder="0000 0000 0000 0000" />
                <div class="input-group-addon" id="cc-number-type"><i class="fa fa-credit-card-alt"></i></div>
              </div>
            </div>

            <div class="form-group" id="cc-exp-form-group">
              <label for="cc_exp">Expiry</label>
              <input type="tel" class="form-control" autocomplete="cc-exp" name="cc_exp" id="cc_exp" placeholder="MM / YYYY" />
            </div>


            <div class="form-group" id="cc-cvc-form-group">
              <label for="cc_cvc">Card CVC: </label>
              <input type="tel" class="form-control" autocomplete="off" name="cc_cvc" id="cc_cvc" placeholder="Security code"/>
            </div>

            <div class="form-group" id="cc-address-zip-form-group">
              <label for="cc_address_zip">Postal Code (ZIP): </label>
              <input type="text" autocomplete="postal-code" class="form-control" name="cc_address_zip" id="cc_address_zip" />
            </div>

            <br />
            <div class="row">
              <div class="col-xs-6">
                <button type="button" data-page="external_accounts" class="btn-page btn">
                  <i class="fa fa-angle-left fa-fw"></i>
                  Back
                </button>
              </div>
              <div class="col-xs-6">
                <button type="submit" class="btn pull-right btn-primary">
                  Save
                  <i class="fa fa-angle-right fa-fw"></i>
                </button>
              </div>
            </div>

            <br />

          </form>
        </div>
      </div>

      <div class="row" id="page_stripe_bank">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><i class="fa fa-cog"></i> &nbsp; Setup</li>
            <li class="active">Step 4 of 4</li>
          </ol>
        </div>

        <div class="col-sm-12">
          <form id="stripe_bank_form">
            <h6><i class="fa fa-university"></i> &nbsp; Add bank account</h6>

            <br />

            <div class="alert alert-info">
              <small>
                <i class="fa fa-info fa-fw"></i>
                The bank account you’re about to add will only be used to pay out funds.
                All payments will be in <strong class="payout-currency"></strong>.
              </small>
            </div>

            <div class="alert alert-danger error" style="display: none;">
              <p>
                <small>
                  <i class="fa fa-fw fa-exclamation-triangle"></i>
                  <span class="error-text"></span>
                </small>
              </p>
            </div>

            <div class="form-group" id="bank_routing_number_form_group">
              <label for="bank_routing_number">Routing number</label>
              <input type="text" autocomplete="off" data-stripe="routing_number" class="form-control" name="routing_number" id="bank_routing_number" placeholder="ex. 111000025"/>
            </div>

            <div class="form-group" id="bank_account_number_form_group">
              <label for="bank_account_number">Account number</label>
              <input type="text" autocomplete="off" class="form-control" data-stripe="account_number" name="account_number" id="bank_account_number" placeholder="ex. 000123456789" />
            </div>

            <div class="form-group" id="bank_account_holder_name_form_group">
              <label for="bank_account_holder_name">Account holder name</label>
              <input type="text" autocomplete="off" data-stripe="account_holder_name" class="form-control" name="account_holder_name" id="bank_account_holder_name" placeholder="" />
            </div>



            <br />
            <div class="row">
              <div class="col-xs-6">
                <button type="button" data-page="external_accounts" class="btn-page btn">
                  <i class="fa fa-angle-left fa-fw"></i>
                  Back
                </button>
              </div>
              <div class="col-xs-6">
                <button type="submit" class="btn pull-right btn-primary">
                  Save
                  <i class="fa fa-angle-right fa-fw"></i>
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </body>
</html>
