<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/font-awesome.min.css" />

    <script src="/assets/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>


    <style type="text/css">
      body { margin-top: 1em; }
      #spam, #bullying, #nudity, #dislike, #success, #failure { display: none; }
      .fa-padding { padding-top: 0.3em; }

    </style>

    <script type="text/javascript">
      var baseURL = '//{{ .url }}';
      var apiToken = '{{ .token }}';
      var cardID = '{{ .card }}';
      var peerName = '{{ .name }}';

      $(document).ready(function() {
        $(".btn-report").click(function(e) {
          e.preventDefault();

          var value = $(this).data('type');
          $("#main").hide();
          $("#" + value).show();
        });

        $(".btn-submit").click(function(e) {
          e.preventDefault();

          var value = $(this).data('type');

          $.ajax({
            url: baseURL + "/v1/card/" + cardID + "/report",
            type: "post",
            data: JSON.stringify({type: value}),
            headers: { "Authorization": "BEARER " + apiToken },
            contentType : 'application/json',
            dataType: "json",
            success: function(data) {
              $("#" + value).hide();
              if (data.success == true) {
                $("#success").show();
              } else {
                $("#failure").show();
              }
            },
            error: function(jq, reason, exc) {
              $("#" + value).hide();
              $("#failure").show();
            }
          })
        });
      });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="main">
        <div class="col-xs-12">
          <p><strong>
            Choose a reason for reporting this card
          </strong></p>
        </div>
        <div class="col-xs-12">
          <div class="list-group">
            <button type="button" class="list-group-item btn-report" data-type="spam"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>Spam</button>
            <button type="button" class="list-group-item btn-report" data-type="bullying"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>Harassment or bullying</button>
            <button type="button" class="list-group-item btn-report" data-type="nudity"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>Nudity or pornography</button>
            <button type="button" class="list-group-item btn-report" data-type="dislike"><i class="fa fa-angle-right fa-pull-right fa-padding"></i>I just don’t like it</button>
          </div>
        </div>
      </div>

      <div class="row" id="spam">
        <div class="col-xs-12">
          <h6>Report as spam?</h6>

          <p>
            Reporting {{ .name }} for spam will also block his/hers account from being able to see or contact you ever again.
          </p>

          <button type="button" class="btn btn-lg btn-danger btn-submit center-block" data-type="spam">Report &amp; Block</button>
        </div>
      </div>

      <div class="row" id="bullying">
        <div class="col-xs-12">
          <h6>Report as bullying or harassment?</h6>
          <p>
            If you report someone’s card, Conspiracy doesn’t tell them who reported it.
          </p>

          <button type="button" class="btn btn-lg btn-danger btn-submit center-block" data-type="bullying">Report &amp; Block</button>
        </div>
      </div>

      <div class="row" id="nudity">
        <div class="col-xs-12">
          <h6>Report as nudity or pornography?</h6>
          <p>
            We consider sexual intercourse, genitals or close-ups of fully-nude buttocks as an innapropriate and unwelcome content on our platform.
          </p>
          <p>
            If you report someone’s card, Conspiracy doesn’t tell them who reported it.
          </p>

          <button type="button" class="btn btn-lg btn-danger btn-submit center-block" data-type="nudity">Report &amp; Block</button>
        </div>
      </div>

      <div class="row" id="dislike">
        <div class="col-xs-12">
          <h6>I just don’t like it</h6>
          <p>
            We can proceed by blocking {{ .name }} from ever seeing or contacting your again through Conspiracy.
          </p>

          <button type="button" class="btn btn-lg btn-warning btn-submit center-block" data-type="dislike">Block</button>
        </div>
      </div>

      <div class="row" id="success">
        <div class="col-xs-12">
          <div class="alert alert-success" role="alert">
            <i class="fa fa-thumbs-up fa-fw"></i>
            <strong>Thank you!</strong>
            Your report is successfully submitted and is pending review by our support staff.
          </div>

          <a href="conspiracy://close" role="button" type="button" class="btn btn-lg btn-info center-block">Close</a>
        </div>
      </div>

      <div class="row" id="failure">
        <div class="col-xs-12">
          <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong>
            Unfortunately, internal error occured and we could not process your request. Our engineers are already looking at the problem, but you can contact us at <a href="mailto:support@notconspiracy.com?subject=Issue%20reporting%20on%20card%20{{ .card }}">support@notconspiracy.com</a>. Please refer to card ID #{{ .card }} in subject.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
